<div id="<%= dom_id journal_entry %>">
  <p>
    <strong>Notes:</strong>
    <%= journal_entry.notes %>
  </p>

  <p>
    <strong>Found:</strong>
    <%= journal_entry.found %>
  </p>

  <p> 
    <%= image_tag(journal_entry.image) %>
  </p>

</div>
