<p style="color: green"><%= notice %></p>

<h1>Journal entries</h1>

<div id="journal_entries">
  <% @journal_entries.each do |journal_entry| %>
    <%= render journal_entry %>
    <p>
      <%= link_to "Show this journal entry", journal_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New journal entry", new_journal_entry_path %>
